<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>题型二demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F11772991D62B78200AF50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11772B21D62B78300AF50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11772BD1D62B78300AF50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
